*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* banner part css */
.banner-details{
    width: 100%;
    height: 80vh;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    
}
.banner-details div{
    text-align: right;
    width: 70%;
    display: block;
    align-items: center;
    padding-top: 200px;
    margin-left: 300px;
    

}
.banner-details h1 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 35px;

}

.btn-primary{
    border: 0;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    
}



/* main part  */


.container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-heading{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
}


/* my plans */
.my-plan-container{
    margin-top: 55px;
}
.plan-container{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}
.my-plan h4{
    font-size: 26px;
    
}

